._4,
._4 * {
  box-sizing: border-box;
}
._4 {
  background: #e5e9ec;
  width: 1920px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-58 {
  width: 126px;
  height: 29px;
  position: absolute;
  left: 1163px;
  top: 418px;
}
.rectangle-24 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 126px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.new-arrivals {
  color: #000000;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 4px;
  top: 1px;
  width: 143px;
  height: 28px;
}
.carbon-location {
  position: absolute;
  left: 219px;
  top: 91px;
  overflow: visible;
}
.rectangle-6 {
  background: #d1b1cb;
  width: 1920px;
  height: 130px;
  position: absolute;
  left: -2px;
  top: 42px;
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.h-5-removebg-preview-1 {
  width: 154px;
  height: 142px;
  position: absolute;
  left: 61px;
  top: 30px;
}
.select-your-address {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 253.63px;
  top: 110px;
  width: 191px;
  height: 28px;
}
.hello {
  color: #534e4e;
  text-align: left;
  position: absolute;
  left: 260.62px;
  top: 88px;
  width: 197px;
  height: 28px;
}
.hello-span {
  color: #534e4e;
  font: 400 18px "Averia Serif Libre", sans-serif;
}
.hello-span2 {
  color: #534e4e;
  font: 400 16px "Averia Serif Libre", sans-serif;
}
.rectangle-19 {
  background: #eafdf8;
  border-radius: 20px;
  opacity: 0.800000011920929;
  width: 500px;
  height: 69px;
  position: absolute;
  left: 458px;
  top: 76px;
}
.rectangle-5 {
  background: #cfcccc;
  border-radius: 20px 0px 0px 20px;
  opacity: 0.800000011920929;
  width: 140px;
  height: 69px;
  position: absolute;
  left: 458px;
  top: 76px;
}
.earrings {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 486px;
  top: 99px;
  width: 102px;
  height: 28px;
}
.offers {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1019px;
  top: 114px;
  width: 102px;
  height: 28px;
}
.store-near-you {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1113px;
  top: 113px;
  width: 119px;
  height: 51px;
}
.try-at-home {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1221px;
  top: 113px;
  width: 119px;
  height: 51px;
}
.contact-us {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1334px;
  top: 114px;
  width: 119px;
  height: 51px;
}
.profile {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1605px;
  top: 116px;
  width: 68px;
  height: 51px;
}
.wishlist {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1712px;
  top: 116px;
  width: 70px;
  height: 51px;
}
.search-for-jewellery {
  color: #534e4e;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 637px;
  top: 100px;
  width: 177px;
  height: 28px;
}
.home {
  color: #534e4e;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 93px;
  top: 278px;
  width: 177px;
  height: 28px;
}
.diamond-earrings {
  color: #534e4e;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 237px;
  top: 280px;
  width: 177px;
  height: 28px;
}
.visha-round-stud-earring {
  color: #000000;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 387px;
  top: 281px;
  width: 215px;
  height: 28px;
}
.earrings2 {
  color: #534e4e;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 156px;
  top: 278px;
  width: 177px;
  height: 28px;
}
.vector3 {
  position: absolute;
  left: 1029px;
  top: 79px;
  overflow: visible;
}
.vector4 {
  position: absolute;
  left: 1359px;
  top: 81px;
  overflow: visible;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 67px;
  height: 0px;
  position: absolute;
  left: 1453px;
  top: 68px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 67px;
  height: 0px;
  position: absolute;
  left: 1684px;
  top: 68px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.vector5 {
  position: absolute;
  left: 605px;
  top: 100px;
  overflow: visible;
}
.vector6 {
  position: absolute;
  left: 1729px;
  top: 82px;
  overflow: visible;
}
.vector7 {
  position: absolute;
  left: 1616px;
  top: 82px;
  overflow: visible;
}
.iconamoon-store-thin {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1140px;
  top: 81px;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 3.75px;
  top: 3.75px;
  overflow: visible;
}
.solar-home-linear {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1251px;
  top: 81px;
  overflow: hidden;
}
.group2 {
  position: absolute;
  left: 2.5px;
  top: 3.75px;
  overflow: visible;
}
.tdesign-cart {
  position: absolute;
  left: 1808px;
  top: 82px;
  overflow: visible;
}
.rectangle-10 {
  background: #7c616c;
  border-radius: 8px;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 1832px;
  top: 74px;
}
.rectangle-11 {
  background: #7c616c;
  border-radius: 8px;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 1754px;
  top: 74px;
}
.cart {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1808px;
  top: 116px;
  width: 102px;
  height: 28px;
}
.tabler-camera-up {
  width: 21px;
  height: 21px;
  position: absolute;
  left: 891px;
  top: 97px;
  overflow: hidden;
}
.group3 {
  position: absolute;
  left: 2.62px;
  top: 3.5px;
  overflow: visible;
}
.streamline-computer-voice-mail-mic-audio-mike-music-microphone {
  width: 21px;
  height: 21px;
  position: absolute;
  left: 925px;
  top: 97px;
  overflow: hidden;
}
.group4 {
  position: absolute;
  left: 3px;
  top: 0.75px;
  overflow: visible;
}
.emojione-v-1-flag-for-india {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1472px;
  top: 71px;
  overflow: hidden;
}
.vector17 {
  position: absolute;
  left: 0px;
  top: 22.5px;
  overflow: visible;
}
.vector18 {
  position: absolute;
  left: 0px;
  top: 8.44px;
  overflow: visible;
}
.vector19 {
  position: absolute;
  left: 0px;
  top: 35.62px;
  overflow: visible;
}
.group5 {
  position: absolute;
  left: 24.24px;
  top: 23.05px;
  overflow: visible;
}
.iconamoon-arrow-down-2-light {
  position: absolute;
  left: 564px;
  top: 99px;
  overflow: visible;
}
.rectangle-9 {
  background: #d9d9d9;
  border-radius: 6px;
  opacity: 0.4000000059604645;
  width: 55px;
  height: 22px;
  position: absolute;
  left: 1535px;
  top: 90px;
}
.eng {
  color: #534e4e;
  text-align: left;
  font: 400 14px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1541px;
  top: 93px;
  width: 177px;
  height: 28px;
}
.vector24 {
  position: absolute;
  left: 1577px;
  top: 99px;
  overflow: visible;
}
._1 {
  color: #ffffff;
  text-align: left;
  font: 400 10px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1760px;
  top: 75px;
  width: 7px;
  height: 9px;
}
._3 {
  color: #ffffff;
  text-align: left;
  font: 400 10px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1837px;
  top: 75px;
  width: 7px;
  height: 9px;
}
.rectangle-23 {
  background: #eedaea;
  opacity: 0.8999999761581421;
  width: 1922px;
  height: 68px;
  position: absolute;
  left: 0px;
  top: 172px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-12 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 137px;
  height: 29px;
  position: absolute;
  left: 217px;
  top: 191px;
}
.rectangle-242 {
  width: 147px;
  height: 29px;
  position: absolute;
  left: 384px;
  top: 191px;
}
.rectangle-243 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 147px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.iconamoon-arrow-down-2-light2 {
  position: absolute;
  left: 123px;
  top: 5px;
  overflow: visible;
}
.rectangle-30 {
  width: 117px;
  height: 29px;
  position: absolute;
  left: 1051px;
  top: 191px;
}
.rectangle-244 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 117px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-31 {
  width: 118px;
  height: 29px;
  position: absolute;
  left: 1198px;
  top: 191px;
}
.rectangle-245 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 118px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-32 {
  width: 147px;
  height: 29px;
  position: absolute;
  left: 1346px;
  top: 191px;
}
.rectangle-33 {
  width: 79px;
  height: 29px;
  position: absolute;
  left: 1523px;
  top: 191px;
}
.rectangle-246 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 79px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-34 {
  width: 75px;
  height: 29px;
  position: absolute;
  left: 1632px;
  top: 191px;
}
.rectangle-247 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 75px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-29 {
  width: 203px;
  height: 29px;
  position: absolute;
  left: 816px;
  top: 191px;
}
.rectangle-248 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 203px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-28 {
  width: 112px;
  height: 29px;
  position: absolute;
  left: 674px;
  top: 191px;
}
.rectangle-249 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 112px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-25 {
  width: 83px;
  height: 29px;
  position: absolute;
  left: 561px;
  top: 191px;
}
.rectangle-2410 {
  background: #eafdf8;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  width: 83px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.best-seller {
  color: #000000;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 227px;
  top: 192px;
  width: 109px;
  height: 28px;
}
.bracelets-bangles {
  color: #000000;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 821px;
  top: 192px;
  width: 200px;
  height: 28px;
}
.iconamoon-arrow-down-2-light3 {
  position: absolute;
  left: 326px;
  top: 196px;
  overflow: visible;
}
.vector28 {
  position: absolute;
  left: 627px;
  top: 204px;
  overflow: visible;
}
.vector29 {
  position: absolute;
  left: 767px;
  top: 204px;
  overflow: visible;
}
.vector30 {
  position: absolute;
  left: 1004px;
  top: 204px;
  overflow: visible;
}
.vector31 {
  position: absolute;
  left: 1150px;
  top: 204px;
  overflow: visible;
}
.vector32 {
  position: absolute;
  left: 1299px;
  top: 204px;
  overflow: visible;
}
.vector33 {
  position: absolute;
  left: 1478px;
  top: 204px;
  overflow: visible;
}
.vector34 {
  position: absolute;
  left: 1588px;
  top: 204px;
  overflow: visible;
}
.vector35 {
  position: absolute;
  left: 1691px;
  top: 204px;
  overflow: visible;
}
.rectangle-1 {
  background: #7c616c;
  width: 1920px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.next-day-delivery {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 832px;
  top: 11px;
  width: 177px;
  height: 28px;
}
.system-uicons-location {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 227px;
  top: 90px;
  overflow: hidden;
}
.group6 {
  position: absolute;
  left: 7.71px;
  top: 4.29px;
  overflow: visible;
}
.iconamoon-arrow-right-2-thin {
  position: absolute;
  left: 133px;
  top: 278px;
  overflow: visible;
}
.iconamoon-arrow-right-2-thin2 {
  position: absolute;
  left: 215px;
  top: 278px;
  overflow: visible;
}
.iconamoon-arrow-right-2-thin3 {
  position: absolute;
  left: 368px;
  top: 278px;
  overflow: visible;
}
.rectangle-35 {
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.5;
  width: 767px;
  height: 706px;
  position: absolute;
  left: 96px;
  top: 309px;
}
.rectangle-37 {
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.5;
  width: 551px;
  height: 706px;
  position: absolute;
  left: 876px;
  top: 309px;
}
.rectangle-38 {
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.5;
  width: 408px;
  height: 704px;
  position: absolute;
  left: 1440px;
  top: 311px;
}
.s-18-wdd-61-s-p-580-1 {
  border-radius: 16px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 115px;
  top: 470px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.s-18-wdd-61-s-p-580-2 {
  border-radius: 16px;
  width: 591px;
  height: 645px;
  position: absolute;
  left: 251px;
  top: 314px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.s-18-wdd-61-s-f-580-1 {
  border-radius: 16px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 4px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 115px;
  top: 353px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.s-18-wdd-61-s-bw-580-1 {
  border-radius: 16px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 115px;
  top: 585px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-36 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 115px;
  top: 696px;
}
.rectangle-362 {
  background: #d9d9d9;
  border-radius: 16px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px;
  opacity: 0.30000001192092896;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0.800000011920929;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 29px;
  top: 25px;
}
.bxs-right-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 46px;
  top: 40px;
  overflow: hidden;
}
.vector41 {
  position: absolute;
  left: 50.17px;
  top: 41.67px;
  overflow: visible;
}
.video {
  color: #534e4e;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 35px;
  top: 75px;
  width: 177px;
  height: 28px;
}
.vector42 {
  opacity: 0.5;
  position: absolute;
  left: 150px;
  top: 921px;
  overflow: visible;
}
.vector43 {
  position: absolute;
  left: 165px;
  top: 937px;
  overflow: visible;
}
.vector44 {
  position: absolute;
  left: 786px;
  top: 397px;
  overflow: visible;
}
.rectangle-41 {
  background: #d1b1cb;
  border-radius: 10px;
  opacity: 0.800000011920929;
  width: 464px;
  height: 51px;
  position: absolute;
  left: 309px;
  top: 959px;
}
._30-days-money-back {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 367px;
  top: 973px;
  width: 185px;
  height: 28px;
}
.lifetime-exchange {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 600px;
  top: 971px;
  width: 185px;
  height: 28px;
}
.vector45 {
  position: absolute;
  left: 335px;
  top: 968px;
  overflow: visible;
}
.vector46 {
  position: absolute;
  left: 1363px;
  top: 412px;
  overflow: visible;
}
.vector47 {
  position: absolute;
  left: 341px;
  top: 981.18px;
  overflow: visible;
}
.group7 {
  position: absolute;
  left: 572px;
  top: 973px;
  overflow: visible;
}
.visha-volume-diamond-earrings {
  color: #000000;
  text-align: left;
  font: 700 32px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 887px;
  top: 340px;
  width: 531px;
  height: 42px;
}
.from-dramatic-volume-collection-with-round-stud-earring {
  color: #000000;
  text-align: left;
  font: 300 24px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 924px;
  top: 389px;
  width: 437px;
  height: 59px;
}
.line-8 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 476px;
  height: 0px;
  position: absolute;
  left: 898px;
  top: 484px;
}
.line-10 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 476px;
  height: 0px;
  position: absolute;
  left: 912px;
  top: 653px;
}
.line-14 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 353px;
  height: 0px;
  position: absolute;
  left: 1469px;
  top: 833px;
}
.line-16 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 481px;
  height: 0px;
  position: absolute;
  left: 907px;
  top: 856px;
}
.line-15 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  width: 353px;
  height: 0px;
  position: absolute;
  left: 1458px;
  top: 484px;
}
.line-9 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 3px 0 0 0;
  opacity: 0.8999999761581421;
  width: 88px;
  height: 0px;
  position: absolute;
  left: 1040px;
  top: 537px;
}
._41-041-54-722-inclusive-of-all-taxes {
  text-align: left;
  position: absolute;
  left: 917px;
  top: 512px;
  width: 437px;
  height: 56px;
}
._41-041-54-722-inclusive-of-all-taxes-span {
  color: #000000;
  font: 700 32px "Averia Serif Libre", sans-serif;
}
._41-041-54-722-inclusive-of-all-taxes-span2 {
  color: #000000;
  font: 400 24px "Averia Serif Libre", sans-serif;
}
._41-041-54-722-inclusive-of-all-taxes-span3 {
  color: #000000;
  font: 400 20px "Averia Serif Libre", sans-serif;
}
._41-041-54-722-inclusive-of-all-taxes-span4 {
  color: rgba(0, 0, 0, 0.7);
  font: 300 20px "Averia Serif Libre", sans-serif;
}
._41-041-54-722-inclusive-of-all-taxes-span5 {
  color: rgba(0, 0, 0, 0.7);
  font: 300 18px "Averia Serif Libre", sans-serif;
}
.quantity {
  color: #000000;
  text-align: left;
  font: 700 24px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 983px;
  top: 667px;
  width: 254px;
  height: 31px;
}
.view-price-breakage {
  color: #3791c3;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 963px;
  top: 560px;
  width: 281px;
  height: 26px;
}
.iconamoon-arrow-down-2-light4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1139px;
  top: 553px;
  overflow: hidden;
}
.iconamoon-arrow-down-2-light5 {
  position: absolute;
  left: -6px;
  top: 3px;
  overflow: visible;
}
.diamond-earrings-in-18-kt-yellow-gold-2-364-gram-with-diamonds-0-4420-ct {
  color: #000000;
  text-align: center;
  font: 300 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 915px;
  top: 591px;
  width: 458px;
  height: 46px;
}
.rectangle-55 {
  background: #7c616c;
  border-radius: 20px;
  opacity: 0.800000011920929;
  width: 301px;
  height: 50px;
  position: absolute;
  left: 1010px;
  top: 731px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-56 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 2px;
  opacity: 0.8999999761581421;
  width: 301px;
  height: 50px;
  position: absolute;
  left: 1010px;
  top: 788px;
}
.rectangle-52 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 2px;
  opacity: 0.800000011920929;
  width: 115px;
  height: 40px;
  position: absolute;
  left: 1127px;
  top: 662px;
}
.buy-now {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1115px;
  top: 739px;
  width: 174px;
  height: 25px;
}
.add-to-cart {
  color: #000000;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1115px;
  top: 795px;
  width: 174px;
  height: 25px;
}
._12 {
  color: #000000;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1179px;
  top: 669px;
  width: 25px;
  height: 25px;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1174px;
  top: 430px;
  overflow: visible;
}
.rectangle-53 {
  background: #d9d9d9;
  border-radius: 10px 0px 0px 10px;
  opacity: 0.4000000059604645;
  width: 31px;
  height: 40px;
  position: absolute;
  left: 1127px;
  top: 662px;
}
.rectangle-54 {
  background: #d9d9d9;
  border-radius: 0px 10px 10px 0px;
  opacity: 0.4000000059604645;
  width: 31px;
  height: 40px;
  position: absolute;
  left: 1211px;
  top: 662px;
}

.sgl-logo-e-1548086756182-1 {
  width: 71px;
  height: 35px;
  position: absolute;
  left: 1573px;
  top: 892px;
}
.certified-by {
  color: #000000;
  text-align: left;
  font: 400 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1594px;
  top: 846px;
  width: 150px;
  height: 24px;
}
.download-2 {
  width: 73px;
  height: 49.67px;
  position: absolute;
  left: 1668px;
  top: 885px;
}
.rectangle-59 {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 3px;
  opacity: 0.10000000149011612;
  width: 118px;
  height: 32px;
  position: absolute;
  left: 1169px;
  top: 420px;
}
._88 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font: 300 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1253px;
  top: 424px;
  width: 34px;
  height: 22px;
}
.s-18-wdd-61-s-s-580-1 {
  border-radius: 16px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 115px;
  top: 815px;
}
.group8 {
  position: absolute;
  left: 148px;
  top: 314px;
  overflow: visible;
}
.customize-the-design {
  color: #000000;
  text-align: left;
  font: 700 24px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1518px;
  top: 509px;
  width: 254px;
  height: 31px;
}
.color {
  color: #000000;
  text-align: left;
  font: 300 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1611px;
  top: 546px;
  width: 72px;
  height: 29px;
}
.gold-carat {
  color: #000000;
  text-align: left;
  font: 300 18px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1591px;
  top: 679px;
  width: 106px;
  height: 29px;
}
.rectangle-42 {
  background: #e8b527;
  border-radius: 10px 0px 0px 10px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 2px;
  opacity: 0.800000011920929;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 1545px;
  top: 585px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-44 {
  background: #7c616c;
  border-radius: 10px;
  opacity: 0.800000011920929;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 1570px;
  top: 722px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-43 {
  background: #ffffff;
  opacity: 0.800000011920929;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 1605px;
  top: 585px;
}
.rectangle-57 {
  background: #e0bfb8;
  border-radius: 0px 10px 10px 0px;
  opacity: 0.800000011920929;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 1665px;
  top: 585px;
}
.rectangle-51 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px;
  opacity: 0.800000011920929;
  width: 60px;
  height: 40px;
  position: absolute;
  left: 1649px;
  top: 722px;
}
._18-kt {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1578px;
  top: 729px;
  width: 52px;
  height: 25px;
}
._14-kt {
  color: #000000;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1657px;
  top: 729px;
  width: 52px;
  height: 25px;
}
.ph-info-thin {
  position: absolute;
  left: 1810px;
  top: 540px;
  overflow: visible;
}
.vector59 {
  position: absolute;
  left: 1681.31px;
  top: 679px;
  overflow: visible;
}
._3-460-g {
  color: #000000;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1573px;
  top: 766.69px;
  width: 55px;
  height: 32px;
}
.gold {
  color: #000000;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1559px;
  top: 633.69px;
  width: 55px;
  height: 32px;
}
._4-050-g {
  color: #897b7b;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1652px;
  top: 766.69px;
  width: 55px;
  height: 32px;
}
.white {
  color: #897b7b;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1614px;
  top: 633.69px;
  width: 55px;
  height: 32px;
}
.rose {
  color: #897b7b;
  text-align: left;
  font: 400 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1676px;
  top: 632.69px;
  width: 55px;
  height: 32px;
}
.rectangle-63 {
  position: absolute;
  left: 1783px;
  top: 970px;
  overflow: visible;
}
.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  opacity: 0.6000000238418579;
  width: 608px;
  height: 0px;
  position: absolute;
  left: 225px;
  top: 327px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.offers2 {
  color: #000000;
  text-align: left;
  font: 700 24px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1606px;
  top: 324px;
  width: 91px;
  height: 31px;
}
.rectangle-46 {
  background: #ddcad9;
  border-radius: 10px;
  opacity: 0.800000011920929;
  width: 154px;
  height: 64px;
  position: absolute;
  left: 1458px;
  top: 379px;
}
.rectangle-49 {
  background: rgba(221, 202, 217, 0.85);
  border-radius: 10px;
  opacity: 0.800000011920929;
  width: 154px;
  height: 64px;
  position: absolute;
  left: 1642px;
  top: 379px;
}
.flat-50-off-on-making-charges {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 1473px;
  top: 361px;
  width: 133px;
  height: 76px;
}
.flat-50-off-on-making-charges-span {
  color: #000000;
  font: 300 20px "Averia Serif Libre", sans-serif;
}
.flat-50-off-on-making-charges-span2 {
  color: #000000;
  font: 300 16px "Averia Serif Libre", sans-serif;
}
.flat-50-off-on-making-charges-span3 {
  color: #000000;
  font: 300 20px "Averia Serif Libre", sans-serif;
}
.flat-25-off-on-product-value {
  color: #000000;
  text-align: left;
  font: 300 16px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1658px;
  top: 390px;
  width: 140px;
  height: 72px;
}
.rectangle-50 {
  background: #bab5b5;
  border-radius: 10px;
  opacity: 0.6000000238418579;
  width: 23px;
  height: 27px;
  position: absolute;
  left: 1817px;
  top: 396px;
}
.vector63 {
  position: absolute;
  left: 1826px;
  top: 406px;
  overflow: visible;
}
.vector64 {
  position: absolute;
  left: 1058px;
  top: 972px;
  overflow: visible;
}
.line-13 {
  border-style: solid;
  border-color: #7c616c;
  border-width: 1px 0 0 0;
  opacity: 0.800000011920929;
  width: 129px;
  height: 0px;
  position: absolute;
  left: 971px;
  top: 897px;
}
.free-delivery-thursday-21-october {
  text-align: left;
  position: absolute;
  left: 970px;
  top: 833px;
  width: 353px;
  height: 39px;
}
.free-delivery-thursday-21-october-span {
  color: #000000;
  font: 400 32px "Averia Serif Libre", sans-serif;
}
.free-delivery-thursday-21-october-span2 {
  color: #000000;
  font: 400 20px "Averia Serif Libre", sans-serif;
}
.free-delivery-thursday-21-october-span3 {
  color: #3791c3;
  font: 400 20px "Averia Serif Libre", sans-serif;
}
.free-delivery-thursday-21-october-span4 {
  color: #000000;
  font: 400 20px "Averia Serif Libre", sans-serif;
}
.free-delivery-thursday-21-october-span5 {
  color: #000000;
  font: 700 20px "Averia Serif Libre", sans-serif;
}
.free-delivery-thursday-21-october-span6 {
  color: #000000;
  font: 400 20px "Averia Serif Libre", sans-serif;
}
.free-delivery-thursday-21-october-span7 {
  color: #3791c3;
  font: 400 20px "Averia Serif Libre", sans-serif;
}
.secure-transcation {
  color: #3791c3;
  text-align: left;
  font: 400 20px "Averia Serif Libre", sans-serif;
  position: absolute;
  left: 1058px;
  top: 973px;
  width: 350px;
  height: 32px;
}
.logo-igi-1 {
  width: 74px;
  height: 30.48px;
  position: absolute;
  left: 1590px;
  top: 967px;
}
.logo-header-1-77-x-90-1 {
  width: 34.22px;
  height: 40px;
  position: absolute;
  left: 1690px;
  top: 959px;
}
